body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f7f7ff

}

.btn-primary{
    color: rgb(207,224,53);
    background-color: rgb(53,116,224);
    border: 1px solid black;
    border-radius: 5px;
}